@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br>
    <p>Enter something below.</p><br>
    <div class="row">
        <div class="d-flex justify-content-center align-items-center container ">
            <form asp-controller="Result" asp-action="Index">
                <input type="text" autocomplete="off" id="input" name="input" placeholder="will you guess correctly?" class="form-control"><br>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
