
@{
    ViewData["Title"] = "NoOrdersPlaced";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>No Orders Placed</h1>
<p>You have not placed any orders yet. Browse by products or choose a store to place an order.</p>

