@model P1.Models.Billing

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_StoreHomeLayout.cshtml";
}

<h1>Edit</h1>

<h4>Billing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillingID" />
            <div class="form-group">
                <label asp-for="NameOnCard" class="control-label"></label>
                <input asp-for="NameOnCard" class="form-control" />
                <span asp-validation-for="NameOnCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationMonth" class="control-label"></label>
                <input asp-for="ExpirationMonth" class="form-control" />
                <span asp-validation-for="ExpirationMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationYear" class="control-label"></label>
                <input asp-for="ExpirationYear" class="form-control" />
                <span asp-validation-for="ExpirationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityCode" class="control-label"></label>
                <input asp-for="SecurityCode" class="form-control" />
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressNum" class="control-label"></label>
                <input asp-for="AddressNum" class="form-control" />
                <span asp-validation-for="AddressNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressStreet" class="control-label"></label>
                <input asp-for="AddressStreet" class="form-control" />
                <span asp-validation-for="AddressStreet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressCity" class="control-label"></label>
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressState" class="control-label"></label>
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressZipCode" class="control-label"></label>
                <input asp-for="AddressZipCode" class="form-control" />
                <span asp-validation-for="AddressZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

