@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Music Store Collective!</h1>
	<p>Please login or register a new account</p><br><br>
</div>
